.main {
    display: flex;
    flex-direction: row;
    background: lightgray;
    
    position: absolute;
    left: 10%;
    right: 10%;
    width: 80%;
    top: 10%;
    bottom: 10%;
    height: 80%;
}

.chat {
    flex-grow: 1;
    padding: 10px;
}

.history {
    margin: 0px;
    overflow-x:hidden;
    overflow-y:auto;
    background: #E8DFD6;
    padding: 5px;
    list-style: none;
    
    height: 85%;
    /* box-sizing: border-box; */
}

/* Message boxes */
.history li {
    clear: both;
    height: auto;    
}

.history li span {
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    max-width: 160px;
    margin-bottom: 7px;
    position: relative;
    display: inline-block;
}

.history li span.right {
    background: #DCF8C7;
    float: right;
    
    box-shadow: 1px 1px 0px #D4D4D4;
}

.history li span.left {
    background: #F7F7F7;
    float: left;
    
    box-shadow: -1px 1px 0px #D4D4D4;
}

/* Footer */
textarea {
    border-style: none;
    resize: none;
    height: 35px;
    width: 100%;
}