.main {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.chat {
    background: lightgray;
    padding: 10px;
    width: 200px;
}

.history {
    background: white;
    padding: 5px;
    height: 150px;
    width: 190px;
    overflow: scroll;
}

.message {
    margin-top: 10px;
    width: 100%;
}

.ownMessage {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 5px;
    width: 90px;
    background: lightblue;
    position: relative;
    right: 5px;
}

.otherMessage {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding: 5px;
    width: 90px;
    background: lightgreen;
    position: relative;
    left: 5px;
}