.main {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.chat {
    background: lightgray;
    padding: 10px;
    width: 200px;
}

.history {
    overflow-x:hidden;
    background: #E8DFD6;
    padding: 5px;
    height: 150px;
    width: 190px;
    list-style: none;
}

.ownMessageBox, .otherMessageBox {
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    width: 90px;
    margin-bottom: 7px;
}

.ownMessageBox {
    background: #DCF8C7;
    margin-left: auto;
    margin-right: 0px;
    
    box-shadow: 1px 1px 0px #D4D4D4;
}

.ownMessageBox p {
    margin: 0px;
}

.otherMessageBox {
    background: #F7F7F7;
    margin-left: 0px;
    margin-right: auto;

    box-shadow: -1px 1px 0px #D4D4D4;
}

.otherMessageBox p {
    margin: 0px;
}

.messageEdition {
    margin-top: 10px;
    width: 100%;
}